div {
    margin: 0px auto;
    text-align: center;
}
input {
    border: none;
    padding: 15px;
    color: #fff;
    background: rgb(214, 172, 34);
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
}
.img {
    height: 300px;
    width: 300px
}